extends ../layouts/layout

block content
  .row
    .col-md-12
      h4 Devices
      div.panel-group#deviceList
        - for (var i = 0; i < deviceMessages.length; i++) {
          - var deviceName = deviceMessages[i].deviceName
          - var deviceId = deviceMessages[i].deviceId
          - var messages = deviceMessages[i].messages
          div.panel.panel-primary(id='panel-deviceid-' + deviceId)
            div.panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#deviceList", href="#collapse-" + i)
                  = deviceName + "  (serial: " + deviceId + ")"
            - var klass = 'panel-collapse collapse'
            - if (i == 0) klass += ' in'
            div(class = klass, id = 'collapse-' + i)
              div.panel-body
                p リモコンデータ
                table.table.table-bordered.table-striped(id="table-deviceid-" + deviceId)
                  - for ( var j = 0; j< messages.length; j++) {
                    - var messageId = messages[j].id
                    - var messageData = messages[j].data
                    tr
                      td(id="td-messageid-" + messageId)
                        = messages[j].name
                      td 
                        button.btn.btn-success.btn-sm(typ="button", onClick="sendMessage('" + deviceId + "', '" + messageData + "')")
                          | Send
                        button.btn.btn-default.btn-sm(data-toggle="modal", data-deviceid=deviceId, data-messageid=messageId, data-target="#editMessageNameModal")
                          | Edit
                        button.btn.btn-danger.btn-sm(data-toggle="modal", data-deviceid=deviceId, data-messageid=messageId, data-target="#deleteMessageModal")
                          | Delete
                  - }
                hr
                button.btn.btn-danger(data-toggle="modal", data-deviceid=deviceId, data-target="#deleteDeviceModal") デバイスの削除
        - }

      hr.colorgraph

      h4 デバイスの追加
      div.form-group
        input.form-control(type='text', name='Device Name', placeholder='デバイス名', id='newDeviceName')
        br
        input.form-control(type='text', name='Device Serial', placeholder='シリアル番号', id='newDeviceSerial')
        br
        button.btn.btn-primary(type="button", onClick='addDevice()') デバイスの追加
  
      div.modal.fade#addDeviceModal(aria-hidden="true")
        div.modal-dialog
          div.modal-content
            div.modal-body デバイスの登録が完了しました。
            div.modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") 閉じる

      div.modal.fade#sendMessageModal(aria-hidden="true")
        div.modal-dialog
          div.modal-content
            div.modal-body 送信が完了しました
            div.modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") 閉じる

      div.modal.fade#deleteMessageModal(aria-hidden="true")
        div.modal-dialog
          div.modal-content
            div.modal-body 本当に削除しますか？
            div.modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") キャンセル
              button.btn.btn-danger(type="button", onClick='deleteMessage()') 削除

      div.modal.fade#deleteDeviceModal(aria-hidden="true")
        div.modal-dialog
          div.modal-content
            div.modal-body 本当にデバイスを削除しますか？
            div.modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") キャンセル
              button.btn.btn-danger(type="button", onClick='deleteDevice()') 削除

      div.modal.fade#editMessageNameModal(aria-hidden="true")
        div.modal-dialog
          div.modal-content
            div.modal-header
              h4.modal-title リモコンデータ名の編集
            div.modal-body
              div.form-group
                lavel 名前
                input.form-control(type='text', name='Name', id='newMessageName')
            div.modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") キャンセル
              button.btn.btn-primary(type="button", onClick='saveMessageName()') 保存

